[Desktop Entry]
Version=1.0
Type=Application
Name=ABDownloadManager
Comment=Fast and modern download manager
Exec=/opt/ABDownloadManager/bin/ABDownloadManager --no-sandbox
Icon=abdownloadmanager
Terminal=false
Categories=Network;Utility;
StartupNotify=true
Keywords=download;manager;torrent;
